//客製化變數
//套用BS4使用變數的方法
@import "~bootstrap/scss/functions";
//套用自己的變數 添加./helpers/資料夾避免與原始套件路徑衝突
@import "./helpers/_variables";

@import "~bootstrap/scss/bootstrap";
@import "./_dashboard";

.loding-pop{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0,.4);
    z-index:1;
}
.loading{
  position:absolute;
  top:calc(50vh - 30px);
  left:calc(50vw - 30px);
  width: 60px;
  height: 60px;
}